# Server Configuration
SERVER_PORT=8080

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce_db
DB_USERNAME=root
DB_PASSWORD=yourpassword

# JWT Configuration
JWT_SECRET=9a6563c6e392d04a60032e67df146cf2418e38d79382103fbd82cd411794b823aa
JWT_EXPIRATION=86400000

# Google Gemini AI Config
GEMINI_API_KEY=your_gemini_api_key_here

# File Upload Configuration
UPLOAD_DIR=uploads
